@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'), url('./PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}
#stickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stickerImage {
    max-width: 500px;
    max-height: 400px;
    height: auto;
    padding-bottom: 50px;
}

#thankYouMessage {
    font-family: 'Press Start 2P', cursive;
    color: #333;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid black;
    width: 0;
}

.heart {
    position: absolute;
    background-image: url('./heart.svg');
    background-size: cover;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 50px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonError {
    background-color: #ec0606;
    color: white;
    padding: 50px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
resize: none; /* Disable resizing */
text-align: center;
padding-bottom: 50px;
font-size: 40px;
}

#progressModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
    display: flex;
}


#disclaimer {
width: 100%;
background-color: #f0f0f0;
color: #333;
text-align: center;
padding: 5px; /* Add some padding */
font-size: 30px; /* Adjust the font size */
box-sizing: border-box; /* Ensures padding is included in width */
position: fixed;
z-index: 10; /* Ensure it's above other elements */
}

div.container-above-disclaimer {
    padding-bottom: 60px; /* Adjust as needed to provide enough space for the disclaimer */
}

@media screen and (max-width: 767px) {
textarea {
    width: 90%; /* Adjust width to fill the container */
    height: 60px; /* Increase the height for more text */
    font-size: 4vw; /* Increase font size for better readability */
    margin-bottom: 20px; /* Add some space below the textarea */
}
button, .buttonError {
    padding: 20px 40px; /* Increase padding for a larger button */
    font-size: 5vw; /* Increase font size for readability */
    margin: 10px 5px; /* Adjust margin for spacing around buttons */
}

#stickerImage {
    max-width: 100%;
    max-height: 300px;
}

#disclaimer {
font-size: 3vw; /* Responsive font size for mobile */
padding: 5px; /* Less padding on small screens */
}
}